.fullList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.checkbox {
  display: grid;
  grid-template-columns: 0.1fr 4.6fr 0.1fr;
  align-items: left;
  border-radius: 8px;
  gap: 8px;
  padding: 16px;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
}

.startBox {
  display: flex;
  justify-content: flex-start;
  /* border-radius: 50%; */
  /* border: 1px solid var(--blue-100); */
}

.centerBox {
  display: flex;
  justify-content: left;
  line-height: 19.6px;
  font-size: 14px;
  font-weight: 400;
}

.isChecked {
  text-decoration: line-through var(--gray-300);
}

.centerBox label {
  color: var(--gray-100);
}

.endBox {
  display: flex;
  justify-content: flex-end;
}

.endBox button {
  background: var(--gray-500);
  border: none;
  display: flex;
  cursor: pointer;
}

.endBox img {
  width: 12.48px;
  line-height: 14px;
  background: var(--gray-500);
  color: var(--gray-300);
}
