.wrapper {
  position: absolute;
  top: 10.8rem;
  left: 0;
  right: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.input {
  width: 39.687rem;
  height: 3.375rem;
  padding: 1rem;
  background: var(--gray-500);
  color: var(--gray-300);
  border: 0.063rem solid var(--gray-700);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  border: 0.063rem solid var(--blue-200);
  border-radius: 0.5rem;
  background: var(--blue-200);
  gap: 0.5rem;
}

.button:hover {
  background: var(--blue-100);
}

.button span {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.225rem;
  color: var(--gray-100);
  justify-content: center;
}

.button img {
  left: 0.002rem;
  align-items: center;
  flex: none;
  order: 1;
}
