.container {
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
}

.boxSize {
  width: 45.625rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.createdTask {
  color: var(--blue-100);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.059rem;
}

.completeTask {
  color: var(--purple-100);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.059rem;
}

.counter {
  display: flex;
  background: var(--gray-400);
  border: 0.063rem solid var(--gray-700);
  border-radius: 62.438rem;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  gap: 0.625rem;
  color: var(--gray-200);
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.908rem;
}
