.container {
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
}

.boxSize {
  width: 730px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.createdTask {
  color: var(--blue-100);
  font-weight: 700;
  font-size: 14px;
  line-height: 16.94px;
}

.completeTask {
  color: var(--purple-100);
  font-weight: 700;
  font-size: 14px;
  line-height: 16.94px;
}

.counter {
  display: flex;
  background: var(--gray-400);
  border: 1px solid var(--gray-700);
  border-radius: 999px;
  padding: 2px 8px 2px 8px;
  gap: 10px;
  color: var(--gray-200);
  font-weight: 700;
  font-size: 12px;
  line-height: 14.52px;
}
